.heading {
  text-align: center;
  background-color: pink;
  font-size: 50px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  justify-items: center;
}
#container > .projectlist {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 100vh;
  width: 30vw;
}
#container > .right {
  background-color: rgba(0, 0, 0, 0.6);
  width: 55vw;
}
.project-list-element {
  color: orange;
  width: 200px;
  background-color: lightgrey;
  font-size: 50px;
  margin: 8px 6px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 10%;
  border: solid 3px green;
}
.project-list-element:hover {
  width: 220px;
  cursor: pointer;
  background-color: grey;
  color: red;
}
.left-header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  width: 500px;
}
.addprjbtn {
  background-color: lightblue;
  font-size: 40px;
  padding-bottom: auto;
  padding-top: auto;
  box-shadow: 5px 5px 8px blue;
  width: 100px;
  height: 50px;
  border: solid 3px green;
  border-radius: 10%;
  margin-top: auto;
  margin-bottom: auto;
}
.addprjbtn:hover {
  width: 120px;
  height: 60px;
  cursor: pointer;
}

.namediv {
  font-size: 70px;
  color: white;
  background-color: pink;
  position: relative;
  bottom: 40px;
}
.descriptiondiv {
  font-size: 30px;
  color: white;
  position: relative;
  bottom: 60px;
}
.hr {
  position: relative;
  bottom: 90px;
}
.todobtn {
  width: 220px;
  position: relative;
  bottom: 106px;
  left: 600px;
  background-color: lightblue;
  font-size: 40px;
  padding-bottom: auto;
  padding-top: auto;
  box-shadow: 5px 5px 8px blue;

  height: 50px;
  border: solid 3px green;
  border-radius: 10%;
}
.todobtn:hover {
  width: 225px;
  height: 51px;
  cursor: pointer;
}
body {
  background-image: url('./../universe.jpg');
}
.form-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type='text'],
.form-container input[type='date'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type='text']:focus,
.form-container input[type='date']:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .btn:hover {
  opacity: 1;
}
.todoelement {
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  color: blue;
  font-size: 30px;
  background-color: lightgray;
}
.done {
  color: white;
  width: 100px;
  height: 50px;
  background-color: lightblue;
  font-size: 25px;
  padding-bottom: auto;
  padding-top: auto;
  border: solid 3px green;
  border-radius: 10%;
  margin-top: auto;
  margin-bottom: auto;
}
.done:hover {
  opacity: 0.8;
}
.remove:hover {
  opacity: 0.8;
}
.remove {
  color: white;
  width: 100px;
  height: 50px;
  background-color: red;
  font-size: 25px;
  padding-bottom: auto;
  padding-top: auto;
  border: solid 3px green;
  border-radius: 10%;
  margin-top: auto;
  margin-bottom: auto;
}
